= form_for(model, url: model.persisted? ? tentacles.model_path(model.id, klass: params[:klass]) : tentacles.models_path(klass: params[:klass])) do |f|

  - (model.class.column_names - %w(id created_at updated_at)).each do |column|  
    = f.label column
    = f.text_field column

  = f.submit f.object.persisted? ? t('_save') : t('_update')