<!DOCTYPE html>
<html>
<head>
  <title>Tentacles</title>
  <%= stylesheet_link_tag    "tentacles/application", media: "all" %>
  <%= javascript_include_tag "tentacles/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
